<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.pool_size">5</property>
		<property name="hibernate.connection.url">jdbc:mysql://YOUR_RDS_DB.us-east-1.rds.amazonaws.com/YOUR_DB</property>
		<property name="hibernate.connection.username">user</property>
		<property name="hibernate.connection.password">password</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
		<mapping package="data" />
		<mapping class="data.Customer" resource="Customer.hbm.xml" />
	</session-factory>
</hibernate-configuration>